body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    color: #fff;
    background-color: #000; /* Set background color to black */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #000; /* Updated background color */
    padding: 20px 0;
    position: relative;
}

header .title {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 10px 0;
    font-size: 1.2em;
}

.main-content {
    padding: 50px 0;
    text-align: center;
    position: relative;
}

.main-content h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.cta-button {
    display: inline-block;
    margin: 10px;
    padding: 20px 30px;
    text-decoration: none;
    color: #fff;
    background: #000;
    border: 2px solid red; /* Set the border color to red */
    border-radius: 18%;
    transition: transform 0.2s ease, border-width 0.3s ease, border-radius 0.3s ease;
    font-size: 1.2em;
}

.cta-button:hover {
    transform: scale(1.1) rotate(360deg);
    border-width: 5px;
    border-radius: 30%;
    border-color: 000; /* Change the border color on hover */
}

.cta-button.secondary-button {
    display: inline-block;
    margin: 10px;
    padding: 20px 30px;
    text-decoration: none;
    color: #fff;
    background: #000;
    border: 2px solid red; /* Set the border color to red */
    border-radius: 18%;
    transition: transform 0.2s ease, border-width 0.3s ease, border-radius 0.3s ease;
    font-size: 1.2em;
}

.cta-button.secondary-button:hover {
    transform: scale(1.1) rotate(360deg);
    border-width: 5px;
    border-radius: 30%;
    border-color: 000; /* Change the border color on hover */
}

footer {
    background-color: #000; /* Updated background color */
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000; /* Set background color to black */
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

.rainbow-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, red, red); /* Set the rainbow line to red */
    bottom: 0;
    border-radius: 18%; /* Make it round */
    transition: background-color 0.3s ease; /* Transition background color on hover */
}

.rainbow-line:hover {
    background-color: #333; /* Darker background on hover */
}
